

  <form class="user-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name <span style="color: red;">(*)</span></label>
      <input type="text" id="firstName" name="firstName" formControlName="first_name"required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName"  formControlName="last_name">
    </div>
    <div class="form-group">
      <label for="email">Email <span style="color: red;">(*)</span></label>
  
      <input type="email" id="email" name="email"  formControlName="email"required>
    </div>
    <div class="form-group">
      <label for="email">user Name <span style="color: red;">(* min 5char)</span></label>
  
      <input type="text" id="email" name="email"  formControlName="user_name"required>
    </div>
    <div class="form-group">
      <label for="email">Password <span style="color: red;">(* min 8char)</span></label>
  
      <input type="text" id="email" name="email"  formControlName="password"required>
    </div>
    <button type="submit">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
  </form> 